services:
  db:
    image: postgres:16
    container_name: postgres_prod
    env_file:
      - .env
      - .env.production
    ports:
      - "5432:5432"
    volumes:
      - postgres_prod:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_prod:
